<!--FOOTER-->
      <footer class="bg-dark w-100 text-center text-white navbar-brand logo-title px-3">
      <div>
      <i class="fas fa-guitar" pr-2"></i>
      Scene  <i class="fas fa-volume-up"></i>
      </div>
      </footer>