<div class="row">   
    <% if user_signed_in? %>
       <%= render 'tweets/form', tweet: @tweet %>
    <% end %>   
    </div>

   <% @tweets.each do |tweet| %>
      <%= render 'tweets/single_tweet', tweet: tweet %>
    <% end %>
    <hr/>
   <button class="btn btn-danger text-white" type="submit"><%= paginate @tweets %></button>
   
    <button class="btn btn-danger float-right" type="submit"><%= link_to_next_page @tweets, 'Mostrar más' %></button>
</div>   