.avatar-in-tweet {
    width: 50px;
}

.navbar-brand {
    font-family: 'Lobster';
    width: 100px;
}

.nav-item{
    font-family: 'Lobster';
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
}

h2{
    font-family: 'Lobster';
}

.actions{
    font-family: 'Lobster';
}

// .text_content{
//     text-align: center;
// }

.form-group{
    font-family: 'Lobster';
}

body{
    background-image: url(fondo.jpg)
}